img {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e7f2ef;
  height: 100vh;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #19183b;
  color: #e7f2ef;
}

main {
  flex: 1;
  justify-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  background-color: #708993;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

button:hover {
  cursor: pointer;
}

.nav-left-section {
  flex: 1;
}

.nav-middle-section {
  display: flex;
  flex: 2;
}

.nav-right-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.nav-logo-image {
  vertical-align: middle;
  width: 30px;
  border-radius: 15px;
  margin-left: 5px;
}

.nav-input {
  height: 24px;
  width: 65%;
  margin-right: 0px;
}

.nav-button-search {
  margin: 0px;
}

.nav-menu {
  color: #e7f2ef;
}

.nav-carrito-icon {
  width: 25px;
}

.page-mode-button {
  display: flex;
  width: 25px;
  height: 25px;
  border: none;
  background-color: none;
  border-radius: 20px;
  transition: background-color 250ms;
  justify-content: center;
  align-items: center;
}

.page-mode-button:hover {
  cursor: pointer;
}
.page-mode-button:active {
  background-color: black;
}

.nav-dark-mode-icon {
  width: 25px;
  height: 25px;
}
