* {
  box-sizing: border-box;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 6px;
  background-color: #a1c2bd;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
  padding: 10px;
  width: 23%;
  height: 400px;
}

.item-imagen {
  width: 100%;
  min-height: 250px;
  border-radius: 4px;
  object-fit: cover;
}

.item-info {
  display: flex;
  flex-direction: column;
}
.item-info p {
  word-wrap: break-word;
}

.item:hover {
  cursor: pointer;
}

.section-products {
  background-color: #708993;
  width: 90%;
  margin-left: 4%;
  padding: 1%;
  border-radius: 5px;
}

.section-title {
  margin-top: 0px;
}

.section-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  gap: 10px;
}

.fade {
  animation-name: fadeIn_y_traslacionY;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

.plataform-button-group {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 40%;
  margin-bottom: 25px;
  padding: 8px;
  background-color: #3b3831;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}
.plataform-button {
  flex: 1;
  background-color: #3b3831;
  margin: 1px;
  border: none;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.plataform-button:hover {
  background-color: #504e4a;
}

.plataform-button.active {
  flex: 1;
  background-color: #5d7bcc;
  margin: 1px;
  border: none;
  border-radius: 100px;
}
/*
keyframe permite definir animaciones
se declaran estados para la clase que tendra la animacion en % de la duracion de la animacion
la duracion de la animacion esta difinida por animation-duration
*/

@keyframes fadeIn_y_traslacionY {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
